body{
  margin: 0;
  padding: 0;
}

.content{
  margin-top: 20px;
  padding: 10px;
}

.cr-new{
  font-size: 14pt;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 0 10px 17px 0;
}

.cr-new:hover{
  color: rgb(59, 59, 59);
}

.th-list th{
  font-size: 12pt;
  color: rgb(51, 51, 51);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}

.td-list td{
  font-size: 12pt;
  color: rgb(51, 51, 51);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.let-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 550px;
  left: 50%;
  margin-left: 25%;
  overflow: hidden;
  height: 520px;
}

.title-form{
  font-size: 18pt;
  background: rgb(31, 35, 87);
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(238, 238, 238);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 4px;
  text-align: center;
  margin-bottom: 20px;
}